<%- include("partials/header.ejs") %>


    <!-- Your page content goes here -->
    <div class="relative flex-1 sm:ml-60 bg-slate-300 min-h-screen flex justify-center items-start pt-10 p-5">
        <!-- Your page content goes here -->
        
        <div class="bg-white max-w-4xl w-full p-8 rounded-2xl">
            <p>
                <%= body %>
            </p>
        </div>
    
        
    </div>




<%- include("partials/footer.ejs") %>